<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 9ef7edf (	new file:   diplom/src/components/unitGallary/UnitGallary.js)
.unitPic{
    padding: 1%;
    border: 1px solid #0000003b;
    border-radius: 15px;
}

.unitPic p{
    padding: 0;
    margin: 0;
    text-align: center;
}

.unitImg{
    width: 90%;
    
    
<<<<<<< HEAD
=======
h1{
    color: darkmagenta;
>>>>>>> 583f07e (Добавление модального окна)
=======
>>>>>>> 9ef7edf (	new file:   diplom/src/components/unitGallary/UnitGallary.js)
}